<h2>Корзина</h2>
<div class = "basket">
{% for item in basket %}
  <div class="basket__item" id="{{ item.id }}">
    <a href="">
    <b class="nameItem" id="{{item.id}}">{{ item.name }}</b><br>
    <img id="{{ item.id }}" width="250" src="/img/{{ item.image }}" class="imgItem" alt=""></a><br>
    Цена: {{ item.price }}<br>
    <button class="delete" id="{{ item.id }}">Удалить</button>
  </div>
{% endfor %}
</div>